[Unit]
Description=Onvif Proxy in systemd

[Service]
Restart=always
WorkingDirectory=/path/to/onvif-proxy/flask-app
ExecStart=/path/to/venv/bin/python /path/to/onvif-proxy/flask-app/main.py --ip 192.168.0.123 --port 80 --conf_path "/path/to/confs/conf.json" --cam_num 1

[Install]
WantedBy=multi-user.target
